
/**entende-se q é uma documentação de código
 *

/**
*Folha de estilo personalizada do site...
*@author Seu Nome
 */

/* Layout*/

.flexFooter{
    display: flex;
    flex-direction: column-reverse;
}
 

/* Smartphone Portrait */
body {
    background-color: #000000;
    color: #000000;
}


/* Smartphone Landscape */
@media (min-width: 576px){
    /*@media: só aplica o css se a condição for verdadeira*/
    body {
        background-color: #000000;
        color: #d3d3d3;
    }
    

    main{
        height: 100vh;
    }

    /* Rodapé */
    .flexFooter{
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }

    .icons{
        margin-bottom: 30px; 
    }
}

/* Tablet Portrait */
@media (min-width: 768px){
    /*@media: só aplica o css se a condição for verdadeira*/
    body {
        background-color: #000000;
        color: #d3d3d3;
    }
    
    main{
        height: 50vh;
    }

}

/* Tablet Landscape */
@media (min-width: 992px){
    /*@media: só aplica o css se a condição for verdadeira*/
    body {
        background-color: #000000;
        color: #d3d3d3;
    }

    main{
        height: 100vh;
    }

    
}

/* Desktop */
@media (min-width: 1200px){
    /*@media: só aplica o css se a condição for verdadeira*/
    body {
        background-color: #000000;
        color: #d3d3d3;
    }

    main{
        height: 100vh;
    }

    
}

/** Background video **/

.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .video-background-content {
    position: relative;
    z-index: 2;
  }
  
  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /** End Background video */


  /*Banner*/
  main{
    background: url(img/background.jpg);
    height: 100vh; /*100% tela (largura)*/
    background-size: cover;
    background-position: center;
  }


  /* Rodapé */
footer{
    background-color: #000000;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
}

.icons{
    margin-bottom: 30px;

}

.img{
    margin-left: 10px; 
    margin-right: 10px;
}